.cards {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    min-width: 200px;
    max-height: 400px;
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
    gap: 10px;
    text-align: left;
}
.card__heart {
    position: absolute;
    top: .5em;
    right: 1em;
    color: crimson;
}

.card-img-box {
    margin: 0 auto;
    overflow: hidden;
}

.card img {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

.card button {
    align-self: flex-start;
}

.card-price {
    font-size: 20px;
    font-weight: 700;
}

.card-wight {
    font-size: 14px;
    color: grey;
}

.card-name {
    font-size: 16px;
    font-weight: 600;
}
